page-company_details {
  ion-row {
    align-items: center;
    text-align: center;
    //$grid-max-widths: ( sm: 40px, md: 100px, lg: 300px, xl: 500px );
  }
  ion-col {
    $grid-max-widths: ( sm: 40px, md: 100px, lg: 300px, xl: 500px );
  }
}
